<div id="user-profile">
  <h3>Edit Profile</h3>
  <%= form_for current_user, url: profile_path, method: 'put', html: { multipart: true } do |f| %>
      <%= render 'shared/errors', object: current_user %>

      <div>
        <img src="<%= current_user.photo.url %>" style="width: 10%; height: 10%"/>
      </div>
      <div>
        <%= f.file_field :photo %>
      </div>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <%= f.submit 'SAVE' %>
  <% end %>
</div>