<h3>Profile</h3>
<ul>
  <li><img src="<%= current_user.photo.url %>" style="width: 10%; height: 10%"/></li>
  <li><%= current_user.name %></li>
  <li><%= current_user.email %></li>
  <li><%= current_user.mobile_number %></li>
  <li><%= link_to 'EDIT', profile_edit_path %></li>
</ul>
